.THIS {
  background-color: #efefef;
  color: #ffffff;
}

.THIS .card-size {
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  background-color: #4e0592;
  width: 500px;
  border-radius: 5px;
}

.THIS .label-custom {
  color: #ffffff;
}

.THIS button {
  background-color: olivedrab;
  color: #ffffff;
}

.THIS input {
  color: #120000;
}

